.contact__page{
    background-color: rgb(84, 81, 81);
    padding: 3rem;
}

.sec__title{
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text_1{
    font-size: 20px;
    color: white;
}