.footer{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    padding-top: 20px;
    
}

.footer a{
    text-decoration: none;
    color: #fff;
}

 .footer p{
   color: white; 
   justify-content: center; 
 }
